<h3>スケジュール編集</h3>

<%= form_with model: @user do |f| %>
<table>
  <tr>
    <th><%= f.label :title ,"タイトル" %></th>
    <td><%= f.text_field :title %></td>
  </tr>

  <tr>
    <th><%= f.label :startDay ,"開始日" %></th>
    <td><%= f.date_field :startDay %></td>
  </tr>

  <tr>
    <th><%= f.label :finishDay ,"終了日" %></th>
    <td><%= f.date_field :finishDay %></td>
  </tr>

  <tr>
    <th><%= f.label :allDay ,"終日" %></th>
    <td><%= f.check_box :allDay %>終日の場合はチェックを入れます</td>
  </tr>

  <tr>
    <th><%= f.label :memo ,"スケジュールメモ" %></th>
    <td><%= f.text_field :memo %></td>
  </tr>
</table>

<div>
  <ul>
    <li><%= f.submit "編集を完了する"%></li>
    <li><%= link_to "ユーザー情報一覧に戻る", :users %></li>
  </ul>
</div>
<% end %>